<form action="/csrf_response" method="post">
  <h1>Spit your utterance!</h1>
  <pre><code> This form submission is secure with a csrf_tag: 
	  '<%= h csrf_tag %>'
  </code></pre>
  <input type="text" name="utterance" />
  <%= Rack::Csrf.tag(env) %>
  <p><input type="submit" value="Send!" /></p>
</form>

<p>Try also the <a href="/csrf_unsecured_form_failing_check">csrf unsecured form failing check</a>!</p>